flows.json
[{"id":"8a85c90a.593d48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"8a85c90a.593d48","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"490ce3c1.d3ec0c","type":"inject","z":"8a85c90a.593d48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["a72a4505.7a7b88"]]},{"id":"a72a4505.7a7b88","type":"debug","z":"8a85c90a.593d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":200,"wires":[]}]